/* цвет основного текста #000000 */
/*

/* Вторичный цвет текста rgba(0,0,0.8);
    /*

/*белый #FFFFF*/
/* актент 18A0FB*/

/* вторичный цвет фона #F5F4FA;*/
/* доп цвет заголовка #2F303A*/
.body {
  background-color: #fff;
  color: #000;
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}

.logo {
  color: #2196f3;
}
/* sete nav*/
.site-nav .link {
  color: #000;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.site-nav .link.current {
  color: #2196f3;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* Hero*/
.hero-title {
  color: #ffffff;
  background-color: #2f303a;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
}

/*Section*/
.section-title {
  color: #212121;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

h2:h3 {
  color: #212121;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

/*Button*/
.button.primary {
  color: #ffff;
  background-color: #2196f3;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.button.filter {
  color: #000;
  background-color: #f5f4fa;
}
.text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
}

.text-portfolio {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.8;
}
.section-work {
  color: #000;
  background-color: #f5f4fa;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.filter {
  font-family: Roboto;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.project {
  color: #000;
  background-color: #f5f4fa;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
