/* цвет основного текста #000000 */
/*

/* Вторичный цвет текста rgba(0,0,0.8);
    /*

/*белый #FFFFF*/
/* актент 18A0FB*/

/* вторичный цвет фона #F5F4FA;*/
/* доп цвет заголовка #2F303A*/

/*общие переменные*/
:root {
  --primery-texte-collor: #757575;
  --second-color: #212121;
  --accent-color: #2196f3;
  --whitе-color-texte: #fff;
  --text-color: #000;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}
/*общие*/
.body {
  background-color: var(--whitе-color-texte);
  color: var(--text-color);
  font-family: Roboto, Arial, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--white-color-texte);
}
.footer {
  background: var(--background-color);
}
.title {
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}
/*логотип*/
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-header {
  color: var(--text-color);
}
.logo-footer {
  color: var(--whitе-color-texte);
}

/* sete nav*/
.site-nav .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/*коннтакты*/
.contacts .link {
  color: var(--primery-texte-collor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  font-style: normal;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.contacts-footer {
  background: var(--background-color);
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.8;
}
.address {
  color: var(--whitе-color-texte);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

/* Hero*/
.hero {
  background-color: var(--background-color);
}
.hero-title {
  color: var(--whitе-color-texte);
  background-color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

/*Button*/
.primary-button {
  color: var(--whitе-color-texte);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}

.secondary-button {
  color: var(--text-color);
  background-color: var(--whitе-color-texte);
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--white-color-texte);
  background-color: var(--accent-color);
}

/*особенности*/

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.features-text {
  color: var(--primery-texte-collor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
}

/*Наша команда*/

.team-section {
  background: var(--secondary-background-color);
}

.teammate {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-color);
}
.teampost {
  color: var(--primery-texte-collor);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
/* портфолио*/

.portfolio {
  font-size: 0;
}
.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.projects {
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--second-color);
}
.projects-description {
  color: var(--primery-texte-collor);
  font-size: 16px;
  line-height: 1.8;
}
