/* цвет основного текста #000000 */
/*

/* Вторичный цвет текста rgba(0,0,0.8);
    /*

/*белый #FFFFF*/
/* актент 18A0FB*/

/* вторичный цвет фона #F5F4FA;*/
/* доп цвет заголовка #2F303A*/

/*общие переменные*/
:root {
  --primary-text-color: #757575;
  --second-color: #212121;
  --accent-color: #2196f3;
  --whitе-color-text: #fff;
  --text-color: #000;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}
/*общие*/
body {
  background-color: var(--whitе-color-text);
  color: var(--text-color);
  font-family: Roboto, Arial, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.footer {
  background: var(--background-color);
}
.title {
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}
/*логотип*/
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-header {
  color: var(--text-color);
}
.logo-footer {
  color: var(--whitе-color-text);
}

/* sete nav*/
.nav-link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.current {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/*коннтакты*/
.contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  font-style: normal;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/*footer*/
.contacts-footer-link {
  background: var(--background-color);
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.8;
}
.address-link {
  color: var(--whitе-color-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  font-style: normal;
}
.contacts-footer-link:hover,
.contacts-footer-link:focus {
  color: var(--accent-color);
}
/* Hero*/
.hero {
  background-color: var(--background-color);
}
.hero-title {
  color: var(--whitе-color-text);
  background-color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

/*Button*/
.primary-button {
  color: var(--whitе-color-text);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}

.secondary-button {
  color: var(--text-color);
  background-color: var(--whitе-color-text);
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--whitе-color-text);
  background-color: var(--accent-color);
}

/*особенности*/

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.features-text {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
}

/*Наша команда*/

.team-section {
  background: var(--secondary-background-color);
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-color);
}
.teamposition {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
/* портфолио*/

.text-hidden {
  visibility: hidden;
  font-size: 0;
}
.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.projects {
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--second-color);
}
.projects-description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
}
